<header class="main group">
  <ul class="nav-right">
    <%= render partial: "static_pages/notifications" %>
    <li>
      <div class="nav-right-item">
        <a href="<%= root_url %>">
          <i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;
          <%= current_user.username %>&nbsp;&nbsp;
          <i class="fa fa-caret-down"></i>
        </a>
      </div>
    </li>
    <li>
      <%= button_to "Sign Out", session_url, method: :delete %>
    </li>
  </ul>
</header>