<li>
  <% count = current_user.notifications.count %>
  <span class="notification-count">
    <i class='fa fa-envelope'></i>&nbsp;
    Notifications
    <span class="notifications-circle"><%= count %></span>
  </span>
  <ul class="notifications-list">
    <% current_user.notifications.each do |notification| %>
      <li>
        <a href="<%= notification.url %>"><%= notification.text %></a>
      </li>
    <% end %>
  </ul>
</li>
