<section class="sidebar">
  <article class="sidebar-item">
    <div class="sidebar-header">Notebooks</div>
    <%= render partial: "notebooks/index" %>
  </article>

  <article class="sidebar-item">
    <div class="sidebar-header">Tags</div>
    <%= render partial: "tags/index" %>
  </article>

  <article class="sidebar-item">
    <div class="sidebar-header">Friends</div>
    <%= render partial: "users/friends" %>
  </article>
</section>