<section class="notes-list">
  <div class="notes-list-header">
    <i class="fa fa-book"></i>&nbsp;
    <%= @notebook.name %>
  </div>
  <ul class="notes">
    <% @notebook.notes.each do |note| %>
      <li>
        <a href="<%= notebook_url(@notebook, note_id: note.id) %>">
          <%= render partial: "notes/preview", locals: { note: note } %>
        </a>
      </li>
    <% end %>
  </ul>
</section>

</div><%# closes "left-absolute div" %>

<% if @note || @notebook.notes.first %>
  <%= render partial: "notes/show",
    locals: { note: @note || @notebook.notes.first } %>
<% end %>