<form action="<%= session_url %>" method="post">
  <%= auth_token %>

  <div class="heading group">
    <h2>Sign In</h2>
    <div class="new-account">
      or <a href="<%= new_user_url %>">Create an Account</a>
    </div>
  </div>

  <div class="input">
    <label for="user-email">Email</label>
    <input type="text" id="user-email" name="user[email]">
  </div>

  <div class="input">
    <label for="user-password">Password</label>
    <input type="password" id="user-password" name="user[password]">
  </div>

  <div class="submit">
    <input type="submit" value="Sign In">
  </div>
</form>
