<div class="notes-list-footer group">
  <div class="notes-list-footer-left">
      View Options
      <i class="fa fa-caret-up"></i>
    <ul class="options-dropdown">
      <li class="options-dropdown-header">
        Sort By
      </li>
      <li>
        <a href="#">
          Date Created (newest first)
        </a>
      </li>
      <li>
        <a href="#">
          Date Created (oldest first)
        </a>
      </li>
      <li>
        <a href="#">
          Date Updated (newest first)
        </a>
      </li>
      <li>
        <a href="#">
          Date Updated (oldest first)
        </a>
      </li>
      <li>
        <a href="#">
          Title (ascending)
        </a>
      </li>
      <li>
        <a href="#">
          Title (descending)
        </a>
      </li>
    </ul>
  </div>
  <div class="notes-list-footer-right">
    Notes counter TK
  </div>
</div>