<form action="<%= notebook_notes_url(notebook) %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="note[notebook_id]" value="<%= notebook.id %>">

  <button type="submit">
    <i class="fa fa-plus"></i>&nbsp;
    New Note
  </button>
</form>