<form action="<%= user_notebook_notes_url(current_user, notebook) %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="note[notebook_id]" value="<%= notebook.id %>">

  <input type="submit" value="Add New Note">
</form>