<div class="comment-list-text">
  <i class="fa fa-comment"></i>&nbsp;
  New Comment
</div>
<div class="comment-form">
  <form action="<%= note_comments_url(note) %>" method="post">
    <%= auth_token %>

    <input type="hidden" name="comment[note_id]" value="<%= note.id %>">

    <textarea name="comment[body]"></textarea>

    <button type="submit" class="post-comment">
      Post Comment
    </button>
  </form>
</div>