<h2>Post New Comment</h2>
<form action="<%= user_note_comments_url(current_user, @note) %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="comment[note_id]" value="<%= @note.id %>">

  <div class="input">
    <label for="comment-body">Comment</label>
    <textarea name="comment[body]" for="comment-body"></textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Post Comment">
  </div>
</form>