<h1>Post New Comment</h1>
<form action="<%= user_note_comments_url(current_user, @note) %>" method="post">
  <%= auth_token %>

  <label>
    Comment
    <textarea name="comment[body]"></textarea>
  </label>
  <br>

  <input type="hidden" name="comment[note_id]" value="<%= @note.id %>">

  <input type="submit" value="Post Comment">
</form>