<div class="like-button">
  <% if (note.currentUserLike()) { %>
      REMOVE LIKE
      <i class="fa fa-thumbs-o-down"></i>
  <% } else { %>
      LIKE
      <i class="fa fa-thumbs-o-up"></i>
  <% } %>
</div>