<span class="modal-x close-modal">&times;</span>

<h3>
  Remove Friend
</h3>

<form class="note group">

  <div class="input">
      Are you sure you want to unfriend <%= friend.get("username") %>?
  </div>

  <div class="form-right group">
    <div class="cancel close-modal">
      Cancel
    </div>

    <div class="submit">
      <input type="submit" value="Confirm">
    </div>
  </div>
</form>