<span class="modal-x close-modal">&times;</span>

<h3>
  Delete Notebook
</h3>

<form class="notebook group">

  <div class="input">
    <label for="notebook-name">Are you sure you want to delete this notebook?</label>
  </div>

  <div class="form-right group">
    <div class="cancel close-modal">
      Cancel
    </div>

    <div class="submit">
      <input type="submit" value="Confirm">
    </div>
  </div>
</form>