<span class="modal-x close-modal">&times;</span>

<h3>
  <%= (notebook.isNew()) ? "Create Notebook" : "Rename Notebook" %>
</h3>

<form class="notebook group">

  <div class="input">
    <label for="notebook-name">Notebook Name</label>
    <input type="text" name="notebook[name]"
        id="notebook-name" value="<%= notebook.escape("name") %>">
  </div>

  <div class="form-right group">
    <div class="cancel close-modal">
      Cancel
    </div>

    <div class="submit">
      <input type="submit" value="Save">
    </div>
  </div>
</form>