<ul class="users">
  <% current_user.friends.each do |friend| %>
    <li>
      <a href="<%= user_url(friend) %>"><%= friend.username %></a>
    </li>
  <% end %>
  <li><a href="http://i.imgur.com/a1suoTg.jpg">Adrian</a></li>
  <li><%= link_to "View All Users", users_url %></li>
</ul>