<ul class="sidebar-list">
  <% current_user.friends.each do |friend| %>
    <li class="group">
      <div class="sidebar-entry-left">
        <a href="<%= user_url(friend) %>">
            <i class='fa fa-user fa-lg'></i>&nbsp;
            <%= friend.username %>
        </a>
      </div>
      <div class="sidebar-entry-right">
        <i class='fa fa-toggle-down'></i>
        <ul class="options-dropdown">
          <li>
            <%= button_to "Remove Friend",
              user_friendship_url(current_user, current_user.find_friendship(friend)),
              method: :delete %>
          </li>
        </ul>
      </div>
    </li>
  <% end %>
</ul>

