<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <div class="heading group">
    <h2>Sign Up</h2>
    <div class="new-account">
      or <a href="<%= new_session_url %>">Sign In</a>
    </div>
  </div>

  <div class="input">
    <label class="user-username">Username</label>
    <input type="text" name="user[username]" id="user-username">
  </div>

  <div class="input">
    <label class="user-email">Email</label>
    <input type="email" name="user[email]" id="user-email">
  </div>

  <div class="input">
    <label class="user-password">Password</label>
    <input type="password" name="user[password]" id="user-password">
  </div>

  <div class="submit">
    <input type="submit" value="Submit">
  </div>
</form>