<h1>Notes by <%= @user.username %></h1>
<ul>
  <% @user.notes.each do |note| %>
    <li>
      <a href="<%= user_note_url(@user, note) %>">
        <%= note.title %>
      </a>
    </li>
  <% end %>
</ul>