<ul class="tags">
  <% current_user.tags.each do |tag| %>
    <% next unless tag.persisted? %>
    <li>
      <a href="<%= tag_url(tag) %>">
        <%= tag.name %>
      </a>
    </li>
  <% end %>
  <li>
    <%= link_to "Add New Tag", new_tag_url %>
  </li>
</ul>