<section class="notes-list">
  <div class="notes-list-header">
    <i class='fa fa-tag fa-lg'></i>
    <%= @tag.name %>
  </div>
  <ul class="notes">
    <% notes = @notes.sort_by! { |note| note.created_at }.reverse! %>
    <% notes.each do |note| %>
      <li>
        <a href="<%= update_url_with_note(request.fullpath.dup, note) %>">
          <%= render partial: "notes/preview", locals: { note: note } %>
        </a>
      </li>
    <% end %>
  </ul>
</section>

</div> <%# closes "left-absolute div" %>

<% if @note || notes.first %>
  <%= render partial: "notes/show",
    locals: { note: @note || notes.first } %>
<% end %>