<span class="modal-x close-modal">&times;</span>

<h3>
  About BetterNote
</h3>

<div class="about">
  <p>
    BetterNote is a clone of <a href="http://www.evernote.com">Evernote</a>, the popular note-taking app, that was created by <a href="http://sweeneysam.com">Sam Sweeney</a> in Spring 2014.
  </p>
  <p>
    BetterNote was built using a Ruby on Rails back-end, a Backbone.js front-end, and a whole lot of love.  Much gratitude and admiration to the team at Evernote for making an awesome app that was also a blast to clone.
  </p>
  <p>
    You can view BetterNote's source code <a href="https://github.com/shubik22/betternote">here</a>.  Feel free to send feedback or get in touch <a href="mailto:sam.s.sweeney@gmail.com">here</a>.
    </p>
  </p>
</div>
</form>