<span class="modal-x close-modal">&times;</span>

<h3>
  Corgi?
</h3>

<form class="note group">

  <div class="input">
     <img src="http://static.parade.condenast.com/wp-content/uploads/2013/11/corgi-extinct-ftr.jpg" class="corgi-pic">
  </div>

  <div class="form-right group">

    <div class="submit">
      <input type="submit" value="Corgi">
    </div>
  </div>
</form>