<div class="search-left">
  <a class="nav-logo">
    <i class='fa fa-file-text'></i>
    BETTERNOTE
  </a>
</div>
<div class="search-bar group">
  <form class="search group">
    <div class="search-bar-left group">
        <ul class="tags<%= (tag) ? "" : " hidden" %>">
            <li>
              <i class="fa fa-tag"></i>
              <%= (tag) ? tag.get("name") : "" %>
              <span class="delete-tag"
                data-tag-id="<%= (tag) ? tag.get("id") : "" %>">
                &times;
              </span>
            </li>
        </ul>
        <input type="text" name="query"
            value="<%= BetterNote.filter.get("text") %>">
    </div>
    <div class="search-bar-right group">
      <div class="clear-search">
        <i class="fa fa-times-circle fa-lg"></i>
      </div>
      <input type="submit" class="submit" value="Search">
    </div>
  </form>
</div>
<div class="new-note">
  <button class="create-new-note">
    <i class="fa fa-plus"></i>&nbsp;
    New Note
  </button>
</div>