/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require navbar
 *= require sidebar
 *= require notes_list
 *= require note_show
 */

@font-face {
  font-family: "Caecilia LT Std";
  src: url(/assets/CaeciliaLTStd-Roman.ttf) format("truetype");
}

html, body, header, section, div, span, h1, h2, h3, a, form, ul, li, i {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input[type="text"],
input[type="textarea"],
input[type="submit"] {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  background: #F0F2F4;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.left-absolute {
  position: absolute;
}

.left-margin-no-list {
  margin-top: 80px;
  margin-left: 302px;
}

.backbone-test {
  font-size: 40px;
  color: red;
  position: fixed;
}