.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -218px;
  margin-top: -200px;

  width: 400px;
  min-height: 100px;
  padding: 18px;
  z-index: 1000;

  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-x {
  display: block;
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  color: #999;
}

.modal-x:hover {
  color: #000;
}

.modal-content h3 {
  font-size: 20;
  font-family: "Caecilia LT Std";
  color: rgb(59, 59, 59);
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.modal-content label {
  display: block;
  font-size: 14px;
}

.modal-content .input {
  margin: 15px 0 25px 0;
}

.modal-content .input > label {
  display: block;
  color: #606060;
  margin-bottom: 4px;
}

.modal-content .input > input {
  border: 2px solid rgb(202, 202, 202);
  padding: 6px;
  width: 382px;
}

.modal-content .input > input:focus {
  border-color: #50AAF2;
  border-radius: 3px;
  border-opacity: 0.7;
}

.modal-content .form-right {
  float: right;
}

.form-right > div {
  float: left;
  display: block;
}

.form-right > .submit > input,
.form-right > .cancel {
  background: #69ad31;
  padding: 4px 16px;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  width: 60px;
  text-align: center;
}

.modal-content .cancel {
  background: #E6E6E6;
  margin-right: 10px;
  color: #000;
  cursor: pointer;
}

.modal-content .submit > input:hover {
  background: #56A225;
}

.modal-content .cancel:hover {
  background: #CCC;
}

.modal-content .cancel:active {
  background: #B7B7B7;
}

.modal-content .submit > input:active {
  background: #488920;
}