header.main {
  background: url("/assets/header-background-green.png");
  border-bottom: 1px solid grey;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 14px;
}

.nav-right {
  float: right;
  border-left: 1px solid grey;
}

.nav-right > li {
  position: relative;
  float: left;
}

.nav-right > li:hover {
  background: #60B72A;
}

.nav-right > li > div.nav-right-item {
  padding: 6px;
  display: block;
  border-right: 1px solid grey;
}

.nav-right > li > span.notification-count {
  padding: 6px;
  display: block;
  border-right: 1px solid grey;
}

.error a {
  color: white;
}

.nav-right input {
  padding: 5px;
}

.notifications-list {
  display: none;
  position: absolute;
  color: black;
  border: 2px solid grey;
  left: -2px;
  max-height: 250px;
  width: 200px;
  overflow: auto;
}

.notifications-list > li {
  background: #E8E8E8;
  border-bottom: 2px solid grey;
  font-size: 14px;
}

.notifications-list > li:hover {
  background: #D2D2D2;
}

.notifications-list > li:last-child {
  border-bottom: 0;
}

li:hover .notifications-list {
  display: block;
}

.sign-out {
  display: none;
}

.notifications-circle {
  background: black;
  border-radius: 75%;
  padding: 2px 8px;
  color: white;
}

header.search {
  position: fixed;
  top: 29px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #b3b3b3;
  background: #E9EDEF;
  color: black;
}

.search-left {
  float: left;
}

.nav-logo {
  padding: 10px;
  display: block;
  color: #3BAA26;
  font-family: "Caecilia LT Std";
}

.search-bar {
  position: fixed;
  top: 29px;
  left: 221px;
  padding-top: 10px;
}

.new-note {
  position: fixed;
  top: 29px;
  left: 582px;
  padding-top: 6px;
  padding-left: 8px;
}

.new-note button, .new-comment a {
  height: 24px;
  background-image: -webkit-linear-gradient(top, #939ca3, #65727c);
  border: 1px solid rgb(137, 146, 152);
  padding-right: 8px;
  border-radius: 3px;
  font-family: "Caecilia LT Std";
  color: white;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
}

.new-comment a {
  padding: 4px 6px 2px 6px;
}

.new-note button:hover, .new-comment a:hover {
	background-image: -webkit-linear-gradient(top, #8da1b0, #5c7284);
}