header.main {
  background: asset-url("header-background-green.png");
  border-bottom: 1px solid grey;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 14px;
}

.nav-right {
  float: right;
  border-left: 1px solid grey;
}

.nav-right > li {
  position: relative;
  float: left;
}

.nav-right > li:hover {
  background: #60B72A;
  cursor: pointer;
}

.nav-right-item {
  padding: 6px;
  display: block;
  border-right: 1px solid grey;
  position: relative;
}

.nav-right-item .options-dropdown {
  position: absolute;
  top: 28px;
  left: 18px;
  width: 120px;
  padding: 10px 0 5px 0;
  color: rgb(122, 125, 129);
}

.nav-right-item .options-dropdown > li {
  padding: 0 10px 5px 10px;
}

.nav-right-item button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.error a {
  color: white;
}

.notifications-list > li {
  background: #E8E8E8;
  border-bottom: 2px solid grey;
  font-size: 14px;
}

.notifications-list > li:hover {
  background: #D2D2D2;
}

.notifications-list > li:last-child {
  border-bottom: 0;
}

li:hover .notifications-list {
  display: block;
}

header.search {
  position: fixed;
  top: 29px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #b3b3b3;
  background: #E9EDEF;
  color: black;
  z-index: 50;
}

.search-left {
  float: left;
}

.nav-logo {
  padding: 10px;
  display: block;
  color: #3BAA26;
  font-family: "Caecilia LT Std";
  font-size: 16px;
}

.nav-logo > i {
  color: #6B6B6B;
}

.search-bar {
  position: fixed;
  top: 29px;
  left: 221px;
  padding-top: 7px;
}

.search-bar-left {
  float: left;
  width: 236px;
  overflow: hidden;
  height: 21px;
}

.search-bar-right {
  float: right;
  width: 64px;
}

form.search {
  background: white;
  font-size: 11px;
  border: 1px solid #0992ca;
  border-radius: 4px;
  box-shadow: 0 0 4px #0992ca;
  width: 300px;
}

form.search li {
  min-height: 11px !important;
  height: 11px;
  margin: 2px 0 2px 2px;
  padding: 2px 5px;
}

form.search input[type = "text"] {
  float: left;
  padding: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 230px;
}

form.search input[type="submit"] {
  font-weight: bold;
  background: #E3E3E3;
  padding: 4px 6px;
  float: right;
  border-left: 1px solid #b3b3b3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #4c4c4c;
}

form.search input[type="submit"]:hover {
  background: #CACACA;
}

form.search .clear-search {
  float: left;
  padding: 4px 2px 4px 0;
  cursor: pointer;
  color: #A0A0A0;
}

.new-note {
  position: fixed;
  top: 29px;
  left: 582px;
  padding-top: 6px;
  padding-left: 8px;
}

.new-note button,
.comment-button {
  height: 24px;
  background-image: -webkit-linear-gradient(top, #939ca3, #65727c);
  border: 1px solid rgb(137, 146, 152);
  padding-right: 8px;
  border-radius: 3px;
  font-family: "Caecilia LT Std";
  color: white;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
}

.comment-button {
  margin-top: 10px;
  padding: 6px 6px 4px 6px;
  display: inline;
}

.new-note button:hover,
.comment-button:hover {
	background-image: -webkit-linear-gradient(top, #8da1b0, #5c7284);
}

.new-note button:focus,
.comment-button:focus {
	background-image: -webkit-linear-gradient(top, #70808c, #495b69);
}