.notes-list {
  width: 360px;
  background: white;
  border-right: 1px solid #b3b3b3;
  position: fixed;
  top: 69px;
  left: 221px;
  bottom: 39px;
  overflow: auto;
}

.notes-list-header {
  font-size: 16px;
  line-height: 36px;
  color: #404040;
  border-bottom: 1px solid #b5b5b5;
  padding-left: 4px;
}

.notes-list-header > i {
  color: #ABABAB;
}

.note-preview {
  background: white;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 2px 4px 10px;
  color: #5C5C5C;
  font-size: 12px;
  overflow: hidden;
}

.note-preview:hover {
  background: #d1d4d7;
}

.note-preview.selected {
  background: #ecf0f3;
}

.note-preview-body {
  height: 48px;
  padding-top: 1px;
  font-size: 11px;
  line-height: 16px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.note-preview-title {
  font-weight: bold;
  font-size: 12px;
  color: black;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note-preview-time {
  float: left;
  display: inline-block;
  padding-right: 6px;
  color: #4a8db8;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
}

.notes-list-footer {
  position: fixed;
  background: white;
  width: 360px;
  left: 221px;
  bottom: 0;
  border-top: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

.notes-list-footer-left {
  padding: 12px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list-footer-right {
  float: right;
  font-size: 12px;
  padding: 12px;
}