.note-show {
  margin-left: 582px;
  margin-top: 69px;
  margin-bottom: 30px;
  display: block;
}

.note-show header {
  background: #F0F0F0;
  border-bottom: 1px solid #b3b3b3;
}

.note-show-header-left {
  float: left;
}

.note-show-header-right {
  float: right;
  position: relative;
  padding-right: 6px;
}

.note-show-header-left > .notebook-name {
  color: rgb(122, 125, 129);
  position: relative;
  float: left;
  padding-left: 14px;
}

.notebook-name > .notebook-name-text {
  font-size: 12px;
  line-height: 36px;
  padding-right: 24px;
  float: left;
}

.notebook-name:hover > .options-dropdown {
  display: block;
  left: 40px;
  top: 30px;
}

.note-show-header-left > .tags {
  padding: 7px;
  float: left;
}

.tags > li {
  background: #dfe7ec;
  border: 1px solid #b6bdc3;
  display: inline-block;
  font-size: 11px;
  min-height: 13px;
  color: #52555a;
  float: left;
  border-radius: 12px;
  padding: 2px 10px;
  margin-right: 6px;
}

.note-show-header-right > .info-text, .note-show-button {
  padding-right: 7px;
  color: #7a7d81;
  font-size: 12px;
  line-height: 36px;
}

.note-show-header-right > form {
  float: left;
}

.note-show-button {
  border: 0;
  padding: 0 7px;
  margin: 0;
  background: transparent;
  line-height: 34px;
  cursor: pointer;
  float: left;
}

.note-show-header-right > .info-text:hover, .note-show-button:hover {
  color: #525f67
}

.note-info {
  display: none;
  background: white;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  width: 230px;
}

.note-info-field {
  padding-right: 20px;
}

.note-show-header-right:hover > .note-info {
  display: block;
  position: absolute;
  left: -190px;
  z-index: 50;
}

.note-show-header-left > .dates > li {
  float: left;
  font-size: 12px;
  color: #7d7e80;
  padding-left: 14px;
  line-height: 34px;
}

.note-content {
  background: white;
  border: 1px solid #A7A7A7;
  border-radius: 3px;
  margin: 12px;
  padding: 10px;
  min-height: 336px;
  overflow: auto;
}

.note-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #A7A7A7;
  font-family: "Caecilia LT Std";
  font-size: 15px;
  color: #7b7c7e;
}

.note-body {
  font-size: 14px;
  line-height: 19px;
  padding: 12px;
}

textarea {
  -webkit-appearance: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  overflow: auto;
}

textarea#note-body {
  height: 100px;
}

.comments {
  margin-top: 12px;
}

.comments-header {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  font-size: 14px;
  line-height: 24px;
  color: rgb(122, 125, 129);
}

.comments-header > .note-show-header-left {
  padding-left: 12px;
}

.comment-list-text {
  margin-top: 8px;
  padding-left: 12px;
  font-size: 12px;
  font-style: italic;
  color: rgb(122, 125, 129);
}

.comments-list > li, .comment-form textarea {
  background: white;
  margin: 10px 12px 0 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
  color: #3A3A3A;
  resize: none;
}

.comment-form textarea {
  margin-left: 0;
  margin-right: 0;
}

.comment-form {
  margin-left: 12px;
  margin-right: 12px;
}

.comment-form textarea:focus {
  border: 1px solid #0992ca;
  box-shadow: 0 0 4px #0992ca;
}

.comments-list > li > .comment-info {
  font-style: italic;
  font-size: 12px;
  color: #7b7c7e;
}

.comment-info-left {
  float: left;
}

.comment-info-right {
  float: right;
}

.comments-list > li > .comment-body {
  font-size: 14px;
  padding-bottom: 8px;
}

.note-show-button.comment {
  background: transparent;
  padding-left: 8px;
  line-height: 14px;
}

.new-comment {
  margin-top: 14px;
  padding-left: 12px;
}

.post-comment {
  margin-top: 10px;
}

.popup {
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  padding: 18px;
  width: 400px;
}

.popup > h3 {
  font-size: 20;
  font-family: "Caecilia LT Std";
  color: rgb(59, 59, 59);
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 10px;
}

.popup label {
  display: block;
  font-size: 14px;
}

.popup .input {
  margin: 15px 0;
}

.popup .input > label {
  display: block;
  color: #606060;
  margin-bottom: 4px;
}

.popup .input > input {
  border: 2px solid rgb(202, 202, 202);
  padding: 6px;
  width: 382px;
}

.popup .input > input:focus {
  border-color: #50AAF2;
  border-radius: 3px;
  border-opacity: 0.7;
}

.popup .submit > input {
  float: right;
  background: #69ad31;
  padding: 4px 16px;
  box-shadow: 0 1.5px 0 0 #070;
  border-radius: 3px;
  color: white;
  font-size: 14px;
}

.popup .submit > input:hover {
  background: #56A225;
}

.popup .submit > input:active {
  top: 3px;
  box-shadow: none;
  background: #488920;
}