.notes-list {
  width: 400px;
  border-right: 2px solid grey;
  position: fixed;
  top: 40px;
  left: 302px;
  bottom: 0;
  overflow: auto;
}

.notes-list-header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding-left: 4px;
  background: #DBDFE2;
}

.note-preview {
  background: white;
  border-bottom: 1px solid grey;
  padding: 6px;
  color: #5C5C5C;
  font-size: 14px;
  height: 80px;
  overflow: hidden;
}

.note-preview:hover {
  background: #E6ECEF;
}

.note-preview-title {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 2px;
}

.note-preview-time {
  float: left;
  display: block;
  padding-right: 6px;
  color: #4a8db8;
  font-weight: bold;
}

.note-preview-body {
}