.sidebar {
  width: 300px;
  border-right: 2px solid gray;
  background: #E4E8EA;
  float: left;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.sidebar-header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  padding-left: 4px;
  background: #DBDFE2;
}

.sidebar-header:hover {
  background: #B2B5B9;
}

.sidebar-item {
  margin-bottom: 8px;
}

.sidebar-item a {
  padding-left: 10px;
  font-size: 14px;
  display: block;
  width: 100%;
  color: #585858;
}

.sidebar-item li:hover{
  background: #B4B4B4;
}