.sidebar {
  width: 220px;
  border-right: 1px solid #b3b3b3;
  background: #E4E8EA;
  float: left;
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.sidebar-header {
  font-size: 11px;
  line-height: 17px;
  font-weight: bold;
  border-bottom: 1px solid #ced8df;
  margin-bottom: 5px;
  padding: 5px;
  color: rgb(85, 94, 100);
  background: -webkit-linear-gradient(bottom, #dfe5e7 0, #e3e7e9 100%);
  position: relative;
}

.sidebar-header-left {
  float: left;
  width: 180px;
}

.sidebar-header-left,
.sidebar-header-right > i,
.sidebar-entry-right > i {
  cursor: pointer;
}

.sidebar-header-right {
  float: right;
  font-size: 13px;
  font-weight: normal;
  margin-right: 4px;
}

.sidebar-list {
  padding-top: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ced8df;
}

.sidebar-list > li.selected {
  background: #c2c9ce;
}

article.sidebar-item li:hover,
.options-dropdown > li:hover {
  background: #d1d4d7;
}

.sidebar-entry {
  position: relative;
}

.sidebar-entry-left {
  float: left;
}

.sidebar-entry-left > a {
  font-size: 11px;
  line-height: 25px;
  float: left;
  color: #555e64;
  padding-left: 8px;
  width: 175px;
  height: 25px;
}

a > .notebook-name {
  float: left;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a > .notes-count {
  float: left;
  font-size: 11px;
  line-height: 25px;
  color: #555e64;
}

.sidebar-entry-right {
  float: right;
  padding-right: 8px;
  line-height: 25px;
  vertical-align: middle;
}

.sidebar-entry-right > i {
  color: #7E7E7E;
  padding-bottom: 3px;
  font-size: 13px;
  display: none;
}

.sidebar-list > li:hover i {
  display: inline-block;
}

ul.options-dropdown {
  position: absolute;
  z-index: 100;
  background: #f4f6f7;
  padding: 7px 0;
  border: 1px solid rgba(153, 158, 161, 0.9);
  border-radius: 5px;
  width: 120px;
}

.options-dropdown > li > a,
.options-dropdown > li > div,
.options-dropdown input,
.options-dropdown > .sort-option {
  font-size: 11px;
  line-height: 17px;
  color: #585858;
  padding: 2px 10px;
  display: block;
}

.options-dropdown > li:hover {
  cursor: pointer;
}

.notes-list-footer-left {
  position: relative;
}

.notes-list-footer-left > .options-dropdown {
  top: -155px;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 160px;
  font-weight: normal;
}

.options-dropdown-header {
  margin: 0 10px 2px 10px;
  padding: 2px 0;
  border-bottom: 1px solid rgba(153, 158, 161, 0.9);
  font-size: 11px;
  color: rgb(122, 125, 129);
}

li.options-dropdown-header:hover{
  background: transparent;
}