.sidebar {
  width: 220px;
  border-right: 1px solid #b3b3b3;
  background: #E4E8EA;
  float: left;
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.sidebar-header {
  font-size: 11px;
  line-height: 17px;
  font-weight: bold;
  border-bottom: 1px solid #ced8df;
  margin-bottom: 5px;
  padding: 5px;
  color: rgb(85, 94, 100);
  background: -webkit-linear-gradient(bottom, #dfe5e7 0, #e3e7e9 100%);
}

.sidebar-header-left {
  float: left;
  width: 190px;
}

.sidebar-header-left:hover {
  cursor: pointer;
}

.sidebar-header-right {
  float: right;
  position: relative;
  font-size: 13px;
  font-weight: normal;
  padding-right: 4px;
}

.sidebar-list {
  padding-top: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ced8df;
}

article.sidebar-item li:hover{
  background: #d1d4d7;
}

.sidebar-entry-left {
  padding-left: 8px;
  float: left;
  width: 190px;
  overflow: hidden;
  height: 21px;
}

.sidebar-entry-left > a {
  font-size: 11px;
  line-height: 17px;
  display: block;
  width: 100%;
  color: #555e64;
  padding-bottom: 12px;
}

.sidebar-entry-right {
  float: right;
  padding-right: 8px;
  position: relative;
  line-height: 16px;
}

.sidebar-entry-right > i {
  color: #7E7E7E;
  padding-bottom: 3px;
  font-size: 13px;
}

ul.options-dropdown {
  display: none;
  position: absolute;
  top: 16px;
  left: -105px;
  z-index: 100;
  background: #f4f6f7;
  padding: 7px 0;
  border: 1px solid rgba(153, 158, 161, 0.9);
  border-radius: 5px;
  width: 120px;
}

.sidebar-entry-right:hover > .options-dropdown,
.sidebar-header-right:hover > .options-dropdown {
  display: block;
}

.options-dropdown > li> a, .options-dropdown input {
  font-size: 11px;
  line-height: 17px;
  color: #585858;
  padding: 2px 10px;
  display: block;
}